/* FretboardDiagram.css */
.fretboard-diagram {
    display: flex;
    flex-direction: column;
    align-items: center;


  }
  canvas{
  }
  .fret-line {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  svg {
    margin-top: 20px; /* Adjust as needed */
  }

  .zoom-buttons{
    display: grid; 

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 1em;
    height: 100%;
  }